<!-- about.html-->

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>The About Page</h1>

  <p class="overview">Methodology</p>
  <p>
  Users will be able to query topics in real-time utilizing the Twitter API to retrieve tweets based on chosen topics. Search terms entered into the system will retrieve the most-recent 100 Tweets relating to this topic, and conduct Sentiment Analysis upon the text contained within the Tweets.
  </p>
  
</div>
{% endblock %}