<!-- /templates/index.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>CS3080 Python Programming</h1>
  <h1>Final Project</h1>
  <h2>Project Overview</h2>
  <p class="overview">
  This project provides a basic application to conduct Sentiment Analysis upon Tweets retrieved utilizing the Twitter API. Based on this analysis, an aggregrate "favorability" rating is generated for the topics of interest. Users can query by hashtag and date range to produce a rating for the topic of interest.
  </p>
  
  <h2>Project Members</h2>
  <p class="overview">
  Rohan Mital <br>
  Ethan Sherman <br>
  Anthony Farinella 
  </p>
</div>
{% endblock %}
