<!-- /templates/status.html -->
{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}

<div id="status">
	<div class="row">
		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
					<h2 class="box-title">Status Information</h2>
				</div>
				
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered nowrap">
								<tbody>
								<tr>
									<th scope="row">System Status:</th>
									<td>{{status}}</td>
								</tr>
								<tr>
									<th scope="row">Last Updated:</th>
									<td>{{updatetime}}</td>
								</tr>
								<tr>
									<th scope="row">Message:</th>
									<td>
										{% if status == "OK" %}
										<p>Awesome! Things are looking great on our end.</p>
										{% else %}
										<p>Well dang. That wasn't supposed to happen...</p>
										{% endif %}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				
				<div>
					<h4><br>Questions? Contact the administration team.</h4>
				</div>
			</div>
		</div>
	</div>
	<style>
	   body {
		  color: #000;
		  height: 100vh;
		  background: linear-gradient(62deg, #DF6242 0%, #E19445 100%) no-repeat;
		  text-align: center;
	   }
	   input {
		  width: 315px;
		  display: block;
		  margin: 1rem auto;
		  border: 2px solid #fff;
		  padding: 8px;
		  background: transparent;
		  border-radius: 20px;
		  outline: none;
	   }
	   ::placeholder {
		  color: #000;
	   }
	   .btn {
		  background: #db133a;
		  border: none;
		  height: 4rem;
		  border-radius: 40px;
		  width: 330px;
		  display: block;
		  color: #fff;
		  outline: none;
		  cursor: pointer;
		  margin: 1rem auto;
	   }
	</style>
</div>

{% endblock %}


{#    {% ... %} for code statements    #}
{#    {{ ... }} for printing an expression to the template #}
{#    # ... ## for line statements #}