<!-- /templates/status.html -->
{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}



<div id="status">
	<div class="row">
		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
					<h2 class="box-title">Status Information</h2>
				</div>
				
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped table-bordered nowrap">
								<tbody>
								<tr>
									<th scope="row">System Status:</th>
									<td>{{status}}</td>
								</tr>
								<tr>
									<th scope="row">Last Updated:</th>
									<td>{{updatetime}}</td>
								</tr>
								<tr>
									<th scope="row">Message:</th>
									<td>
										{% if status == "OK" %}
										<p>Awesome! Things are looking great on our end.</p>
										{% else %}
										<p>Well dang. That wasn't supposed to happen...</p>
										{% endif %}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				
				<div>
					<h4><br>Questions? Contact the administration team.</h4>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{#    {% ... %} for code statements    #}
{#    {{ ... }} for printing an expression to the template #}
{#    # ... ## for line statements #}